* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSI CSS */
.HB {
    background-color: rgb(147, 195, 211);
}
.MC {margin-left:18px}
/*LOGO*/
#logoB {width: 200px;
    margin: 25px;
}

h1 {margin-top: 35px;
    
}
/*FOTO DEL MAIN CONTENT*/
#photos {margin-top: 20px;}

/*ARTICOLO*/
#article {margin-top: 10px;}
.highlighted { display: inline-block;
    background: #FFC107;
    }
    span:hover {
        text-decoration: underline; }
    .list {margin-left: 18px;
    margin-top: 10px;}
h6 {font-family: Arial, Helvetica, sans-serif;}
    /*TABELLA*/
      table { margin-top: 20px;
      }
      th {background-color:rgb(70, 123, 246);
        color:white;
      }
.odd {background-color: bisque;
}
.textheader {
    text-align: left;
width: 50;
white-space: nowrap;  }

 /*FOOTER*/
 .fb {background-color: rgb(7, 7, 50);
text-align: center;
padding-top: 20px;
color: rgb(255, 255, 255);
margin-top: 20px;
height: 50px;}